aula7Noite/flows (1).json
[
    {
        "id": "7247cb6d77bce564",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "248362587ba78b2f",
        "type": "ibmiot in",
        "z": "7247cb6d77bce564",
        "authentication": "apiKey",
        "apiKey": "7296c461acd0c11e",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "umidadeteste",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "f46259a72af4c218"
            ]
        ]
    },
    {
        "id": "6c2efc2552dbb9d2",
        "type": "debug",
        "z": "7247cb6d77bce564",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "3d864bc0cd041c78",
        "type": "comment",
        "z": "7247cb6d77bce564",
        "name": "Desafio 1",
        "info": "",
        "x": 120,
        "y": 100,
        "wires": []
    },
    {
        "id": "f46259a72af4c218",
        "type": "template",
        "z": "7247cb6d77bce564",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.d.umidade}}%",
        "output": "str",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "6c2efc2552dbb9d2"
            ]
        ]
    },
    {
        "id": "9ad8f3208e0040e5",
        "type": "comment",
        "z": "7247cb6d77bce564",
        "name": "Desafio 2 e 3",
        "info": "",
        "x": 130,
        "y": 300,
        "wires": []
    },
    {
        "id": "a2d02ad78f7c62c0",
        "type": "ibmiot in",
        "z": "7247cb6d77bce564",
        "authentication": "apiKey",
        "apiKey": "7296c461acd0c11e",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "umidadeteste",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 190,
        "y": 460,
        "wires": [
            [
                "50ab415ef692ff1a"
            ]
        ]
    },
    {
        "id": "50ab415ef692ff1a",
        "type": "template",
        "z": "7247cb6d77bce564",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"umidade\" : \"{{payload.d.umidade}}%\"}\n",
        "output": "str",
        "x": 340,
        "y": 460,
        "wires": [
            [
                "f781f12dc59af285"
            ]
        ]
    },
    {
        "id": "d049448cc2ab383a",
        "type": "cloudantplus out",
        "z": "7247cb6d77bce564",
        "name": "",
        "cloudant": "0f35bca644385b5d",
        "database": "lincolncrud",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 690,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f781f12dc59af285",
        "type": "delay",
        "z": "7247cb6d77bce564",
        "name": "",
        "pauseType": "rate",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1000",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "d049448cc2ab383a"
            ]
        ]
    },
    {
        "id": "b33aee38e3ea0734",
        "type": "http in",
        "z": "7247cb6d77bce564",
        "name": "",
        "url": "/getibmiot",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "cd17053bd06ef989"
            ]
        ]
    },
    {
        "id": "cd17053bd06ef989",
        "type": "cloudantplus in",
        "z": "7247cb6d77bce564",
        "name": "",
        "cloudant": "0f35bca644385b5d",
        "database": "lincolncrud",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 390,
        "y": 600,
        "wires": [
            [
                "b7e3eee933f5056a"
            ]
        ]
    },
    {
        "id": "b7e3eee933f5056a",
        "type": "http response",
        "z": "7247cb6d77bce564",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 600,
        "wires": []
    },
    {
        "id": "f692c87c834ff34f",
        "type": "comment",
        "z": "7247cb6d77bce564",
        "name": "Desafio 4",
        "info": "",
        "x": 120,
        "y": 540,
        "wires": []
    },
    {
        "id": "7296c461acd0c11e",
        "type": "ibmiot",
        "name": "LincolnCoutinho",
        "keepalive": "60",
        "serverName": "n1qvkh.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "0f35bca644385b5d",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1oyyl44w0ka2aw9z3fvb53wag6o79wi8boxf0xsbnpr:6c078caec78a17bbd953a16fff300224@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": true
    }
]